@font-face {
  font-family: "Myriad Pro";
  src: url("./fonts/Myriad-Pro_Regular.OTF");
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #e0e0eb;
}

.urls {
  margin: 2rem auto 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  color: #a3a3c2;
}

.urls .url {
  padding: 0 2rem;
  letter-spacing: 3px;
  cursor: pointer;
  -webkit-transition: color 0.25s;
  transition: color 0.25s;
}

.urls .url.active {
  color: #666699;
}

.page {
  margin: 2rem 0;
  display: none;
}

.page.active {
  display: block;
}

.card-container {
  width: 600px;
  height: 900px;
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 25px;
  background-color: #f6f6f6;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
}

.card-container * {
  margin-bottom: 2rem;
}

.card-container img {
  width: 35%;
  border-radius: 50%;
}

.card-container p {
  color: #a3a3c2;
}

.card-container .nickname {
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 5px;
}

.card-container .decoration {
  font-size: 20px;
}

.card-container .description {
  font-size: 18px;
  font-family: "Myriad Pro";
}

.card-container .social {
  padding: 1rem 6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 999px;
  margin-bottom: 1rem;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  letter-spacing: 5px;
  text-decoration: none;
  color: #e0e0eb;
  background-color: #a3a3c2;
  -webkit-transition: background-color 0.25s;
  transition: background-color 0.25s;
}

.card-container .social:hover {
  background-color: #c2c2d6;
}

.builds {
  width: 100%;
}

.searchbar {
  display: block;
  margin: 0 auto;
  padding: 0.25rem 0.5rem;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #666699;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
}

.searchbar:focus {
  outline: none;
}

.gallery {
  width: 100%;
  height: 600px;
  margin: 2rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  overflow-x: scroll;
  scroll-behavior: smooth;
}

.gallery::-webkit-scrollbar {
  display: none;
}

.gallery #img-next,
.gallery #img-prev {
  width: 5%;
  height: 100%;
  position: fixed;
  opacity: 0;
  top: 0;
  right: 0;
  z-index: 1;
  font-family: "Myriad Pro";
  font-size: 40px;
  font-weight: bold;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: -webkit-gradient(linear, right top, left top, from(rgba(0, 0, 0, 0.5)), to(rgba(255, 255, 255, 0)));
  background: linear-gradient(270deg, rgba(0, 0, 0, 0.5) 0%, rgba(255, 255, 255, 0) 100%);
  color: white;
  cursor: pointer;
  -webkit-transition: opacity 0.25s;
  transition: opacity 0.25s;
}

.gallery #img-next:hover,
.gallery #img-prev:hover {
  opacity: 1;
}

.gallery #img-prev {
  left: 0;
  background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.5)), to(rgba(255, 255, 255, 0)));
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.5) 0%, rgba(255, 255, 255, 0) 100%);
}

.gallery .img-container {
  width: 200px;
  margin: 3px;
  border-radius: 5px;
  overflow: hidden;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  cursor: pointer;
}

.gallery .img-container .build-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.gallery .img-container .build-img:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.gallery .img-container .modal {
  display: none;
  position: fixed;
  z-index: 2;
  padding: 5rem;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  cursor: default;
  background-color: rgba(0, 0, 0, 0.3);
}

.gallery .img-container .modal .modal-content {
  margin: auto;
  display: block;
  width: 80%;
  border: 3px solid white;
  border-radius: 5px;
  -webkit-animation-name: zoom;
          animation-name: zoom;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
}

.gallery .img-container .modal .close {
  position: fixed;
  top: 15px;
  right: 45px;
  color: white;
  font-size: 40px;
  font-weight: bold;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

.gallery .img-container .modal .close:hover, .gallery .img-container .modal .close:focus {
  color: gray;
  text-decoration: none;
  cursor: pointer;
}

@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(0.1);
            transform: scale(0.1);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes zoom {
  from {
    -webkit-transform: scale(0.1);
            transform: scale(0.1);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.top {
  margin: 2rem 0;
}

.table-container {
  width: 700px;
  float: left;
  margin: 0 2rem;
}

#top-table {
  width: 100%;
  background-color: white;
  padding: 0.5rem 1rem;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  border-radius: 5px;
  border-spacing: 0 0.5rem;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
}

#top-table tr {
  -webkit-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.3);
}

#top-table tr td {
  padding: 0.5rem 2rem;
}

#top-table .table-rank,
#top-table .table-exp {
  width: 10%;
  text-align: center;
}

.explanation {
  width: 300px;
  float: left;
  background-color: white;
  font-family: "Myriad Pro";
  padding: 1rem;
  border-radius: 5px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
}

.explanation h3 {
  margin-bottom: 0.5rem;
}

.explanation ul {
  list-style-position: inside;
}

@media only screen and (max-width: 1080px) {
  .explanation {
    width: 700px;
    margin: 2rem;
  }
}
/*# sourceMappingURL=style.css.map */